input.ng-invalid.ng-touched{
    border-color: #dc3545;
    border-width: 2px;
}

input.ng-valid.ng-touched{
    border-color: #28a745;
    border-width: 2px;
}

.invalid-feedback{
    display: block;
}