<h2>Rules:</h2>
<ul>
    <li>Each team can have either 1 or 2 members.</li>
    <li>Teams are not allowed to use internet services. All necessary <a href="http://10.10.101.141/rumkin" target="_blank">[tools]</a> will be <a href="http://10.10.101.141/rumkin" target="_blank">[provided]</a> in the contest portal.</li>
    <li>Knowledge of computer programming won’t be required to solve the problems, although it may help to solve some problems faster.</li>
    <li>The event will be conducted on a Linux Distro like Ubuntu. Basic knowledge of such an environment, although not necessary, can prove helpful during the event.</li>
    <li>Teams won’t be allowed to use any external electronic devices.</li>
    <li>Internet access may be provided to the participants if the co-ordinators decide that any question will require it. In case it is not provided, we will provide you with almost all the knowledge, you will require to crack the questions.</li>
    <li>In the event of a tie, the team to solve the most questions first will be considered the winner.</li>
    <li>The co-ordinators have the right to change the rules and judging criteria of the contest at any time they deem fit.</li>
</ul>